
@font-face {
    font-family: 'tittle';
    src: url(/public/assets/fonts/jj.otf);
}

@font-face {
    font-family: 'luzia';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap');
}

